<!DOCTYPE html>
<html>
<head>
  <meta charset="ISO-8859-1">
  <title>FriendsBook</title>
  <link rel="stylesheet" th:href="@{~/register.css}" />
</head>
<body>



<h1>Friends Book</h1>
<form action="profile" method="post">

  <label class = emailText for="email">Email:</label> <br/>
  <input class = emailBox type="email" name="email"/> <br/>

  <label class = loginText for="username">Login:</label> <br/>
  <input class = loginBox type="text" name="username"/> <br/>


  <label class = passwordText for="password">Password:</label> <br/>
  <input class = passwordBox type="password" name="password"/> <br/>


<button class = registerButton type="submit">Register </button>
</form>
<br/>

</body>
</html>
